
1 VERSIONINFO
FILEVERSION 3,2,2,0
PRODUCTVERSION 3,2,2,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103A4"
	{
    VALUE "Comments", "フリーソフトです"
    VALUE "CompanyName", ""
    VALUE "FileDescription", "アルファポリス小説ダウンローダー"
		VALUE "FileVersion", "3.2.2.0"
		VALUE "LegalCopyright", "INOUE, masahiro"
		VALUE "OriginalFilename", "alphadlw.exe"
		VALUE "ProductName", "アルファポリス小説ダウンローダー"
		VALUE "ProductVersion", "3.22"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4
}
}
