
1 VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103A4"
	{
		VALUE "FileVersion", "1.2.0.0"
		VALUE "LegalCopyright", "INOUE, masahiro"
		VALUE "OriginalFilename", "alphadlw.exe"
		VALUE "ProductName", "アルファポリス小説ダウンローダー"
		VALUE "ProductVersion", "1.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4
}
}
